include *.md
include *.txt
include *.ini
include *.rst
include src/hana_ml_exp_rest/static *.*
recursive-include src/hana_ml_exp_rest/jupyter-config *.json

exclude .gitignore
exclude .gitreview
global-exclude *.pyc